# For Vim. https://github.com/github/gitignore used as the source
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# For Mac OS X. https://github.com/github/gitignore used as the source
.DS_Store
.AppleDouble
.LSOverride
Icon
